.myProjectBlock {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myProjectContainer {
    height: 80%;

    flex-direction: column;
    justify-content: center;



}

.title {
    font-size: 48px;
    font-weight: 500;
    font-family: inherit;
    margin-bottom: 40px;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.myProjects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 880px) {
    .myProjects {
        justify-content: center;
    }

}