@import "./src/Common/Styles/variables";

.myProjectBlock {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $backgroundColor;

  .myProjectContainer {
    height: 80%;
    flex-direction: column;
    justify-content: center;

    .myProjects {
      width: 100%;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      @media screen and (max-width: 880px) {
        justify-content: center;
      }
    }
  }
}






