.myProjectBlock {
    height: 100%;
    background-color: #82ee87;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myProjectContainer {
    height: 80%;

    flex-direction: column;
    justify-content: center;



}

.title {
    background-color: white;
    margin-bottom: 20px;
    margin-top: 20px;
}

.myProjects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 880px) {
    .myProjects {
        justify-content: center;
    }

}