.myProjectBlock {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myProjectContainer {
    height: 80%;

    flex-direction: column;
    justify-content: center;
}

.myProjects {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 880px) {
    .myProjects {
        justify-content: center;
    }
}