@import "../Common/Styles/variables";

.footerBlock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $secondBackgroundColor;

  .footerContainer {
    flex-direction: column;
    border: 1px solid;
    min-height: 20vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px;

    .iconBlock {
      min-width: 60%;
      border: 1px solid;
      display: flex;
      justify-content: space-between;
    }

    .copyBlock {
      background-color: aqua;
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
}





