@import "/src/Common/Styles/variables";

.ContactsBlock {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .ContactsContainer {
    flex-direction: column;
    min-height: 40vh;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 30px;

    .mainBlock {
      display: flex;
      width: 100%;
      @media screen and (max-width: 1118px) {
        flex-direction: column;
      }

      .myContactsBlock {
        min-width: 35%;
        padding: 5px;

        h3 {
          font-weight: bolder;
        }

        p {
          margin: 5px 5px 15px 0;
          line-height: 1.4;
          color: $textColor;
          font-size: 16px;
        }
      }

      .ContactsForm {
        min-width: 65%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 10px;


        input {
          border: 0;
          border-radius: 10px;
          background-color: $formBackgroundColor;
          height: 50px;
          width: 100%;
          margin-bottom: 10px;
          padding: 10px;
          transition: 0.5s;
          color: $textColor;
          font-size: 14px;

          &:focus {
            outline: none;
            border: 1px solid $primaryColor;
          }
        }

        textarea {
          border: 0;
          padding: 10px;
          border-radius: 10px;
          background-color: $formBackgroundColor;
          width: 100%;
          height: 100%;
          margin-bottom: 0;
          color: $textColor;
          font-family: $mainFont;
          font-size: 14px;

          &:focus {
            outline: none;
            border: 1px solid $primaryColor;
          }
        }

        @media screen and (max-width: 530px) {
          width: 100%;
        }
      }
    }


  }
}




