
$textColor: #fff;
$primaryColor: #fcac45;
$descriptionText: #a9afc3;
$backgroundColor: rgba(17, 19, 25, 0.92);
$secondBackgroundColor: rgba(25, 28, 38, 0.84);
$formBackgroundColor: #252525;

$mainFont: 'Poppins', sans-serif;
