@import "src/Common/Styles/variables";

.skillBlock {
  width: 250px;
  background-color: $backgroundColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  .icon {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}
