@import "../Styles/variables";

.buttonStyle {
  padding: 5px;
  text-decoration: none;
  color: $textColor;
  font-size: 20px;
  height: 60px;
  min-width: 90px;
  background-color: #fcac45;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  margin: 20px;
  position: relative;
  border: none;
  z-index: 1;

  &:hover {
    transition-duration: 500ms;
    transition-property: background-color;
    background-color: rgb(255, 255, 255);
    color: $primaryColor;
    cursor: pointer;
  }

  &:active {
    border: $primaryColor 3px solid;
  }

}
