.title {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
    clear: both;
    float: left;
    text-align: center;
    position: relative;
}
.title h3 {
    margin: 0;
}

.title::before {
    position: absolute;
    content: '';
    width: 100px;
    height: 4px;
    background: #fcac45;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);

}



.title h3 {
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 25px;
    line-height: 1;

}
