.skillsBlock {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #191c26;

}

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 629px) {
    .skills {
        justify-content: center;
    }

}