.skillsBlock {
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #18191d;

}

.skillsContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.title {
    font-size: 48px;
    font-weight: 500;
    font-family: inherit;
    margin-bottom: 40px;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.skills {
    border: 1px solid;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media screen and (max-width: 629px) {
    .skills {
        justify-content: center;
    }

}