@import "../Common/Styles/variables";

.mainBlock {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  z-index: -1;

  .mainContainer {
    position: relative;
    .animationBlock {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
    @media screen and (max-width: 752px) {
      justify-content: center;
    }


    .text {
      width: 300px;
      font-family: $mainFont;
      margin-bottom: 14px;

      & h1 {
        font-weight: 700;
        font-size: 35px;
        line-height: 1.2;

        .fullName {
          color: $primaryColor;
        }
      }
    }

    .photo {
      width: 500px;
      height: 600px;
      border-radius: 20px;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      z-index: 2;
      @media screen and (max-width: 752px) {
        width: 400px;
        height: 500px;
        margin-top: 10px;
      }
    }
  }

}








