.mainBlock {
    display: flex;
    justify-content: center;
    height: 100vh;
}

.text {
    width: 300px;
    font-family: Poppins, sans-serif;
    margin-bottom: 14px;

}
.text h1 {
    font-weight: 700;
    font-size: 35px;
    line-height: 1.2;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: grey;
}
.fullName {
    color: #fcac45;
}

@media screen and (max-width: 752px) {
    .mainContainer {
        justify-content: center;

    }

}
