 .rowMenu {
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    padding: 5px;
}
 .columMenu {
     display: none;
 }

.nav a {
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.nav a:hover {
    border-bottom:  3px solid #fcac45 ;

}


@media screen and (max-width: 752px) {

    .columMenu {
        display: flex;
        flex-direction: column;
        text-align: right;
        margin: 30px;
    }


    .rowMenu {
        display: none;
    }

    .nav .columMenu a.icon {
        margin: 0 auto;
        display: block;
        color: #ffffff;
        font-size: 25px;
        margin-right: 20px;
    }
}
